head {
background-color: ##FDF2DA;
font-size: 2.5px;
font-family: Verdana;
}

body {

line-height: normal;
background-color: #FDF2DA;
background-image: url("https://www.gbparks.com/images/zzkickball2015_002.jpg");
background-repeat: no-repeat;
background-position: center;
}

h1 {

line-height: normal;
font-family: helvetica;
font-size: 34px;
font-style: bold;
color: brown;
}

li {
  color: navy;
  font-family: Lucida;
  font-size: 18px;
  font-style: bold;
}
